body {
  background-color: #4831d4;
}
.main {
  width: 25rem;
  min-height: 25rem;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 25px;
  background-color: #ccf381;
  box-shadow: -6px 5px 19px 1px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: -6px 5px 19px 1px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: -6px 5px 19px 1px rgba(0, 0, 0, 0.63);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.qstNumber {
  width: 100%;
}

.btn {
  width: 7rem;
  height: 2rem;
  background-color: gray;
  border: none;
  margin: 1rem;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

#notAnswered .btn {
  background: grey !important;
}

#answered .btn {
  pointer-events: none;
}

#notAnswered .nextbtn {
  pointer-events: none;
}
.nextbtn {
  width: 10rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
}

.resetbtn {
  width: 10rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
}

.next {
  display: flex;
  justify-content: center;
}
